body, html{
	height: 100%;
}

.starter-template {
  color: white;
  text-align: center;
}

.main {
	padding-top: 55px;
	height: 100%;
	background-image: url(../images/main.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#nombrePrincipal {
  	text-shadow: 4px 4px #565555;
}

#name {
	margin-right: 30px;
}

#profile {
	max-width: 150px;
	max-height: 150px;
}

.container {
	padding: 100px;
}

#sobremi {
	background-color: #f4f4f4;
}

#portafolio {
	background-color: #cec9c9;
	text-align: center;
}

#menu {
	position: inherit;
	right: 0;
	padding-right: 20px;
}

.imgPortafolio {
	box-shadow: 0 0 10px #565555;
	max-height: 300px;
	max-width: 400px;
	margin: 30px;
}

.portafolio h2 {
	text-align: left;
}

#contacto {
	background-color: #a3a1a1;
}

.rowContacto{
	text-align: center;
}

.redes img{
	display: inline-block;
	margin: 0 10px 10px 20px;
}

.redes b {
	color: black;
}

