body, html{
	height: 100%;
}

.cvs{
	font-family: 'K2D', sans-serif;
}

a:hover {
	color: black;
}

.starter-template {
  color: white;
  padding-top: 10% !important;
}

.fullImage {
	height: 100%;
	background-image: url(../images/main.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#nombrePrincipal {
  	text-shadow: 3px 2px 2px #565555;
}

#sobremi {
	background-color: #f7f3ef;
}

#portafolio {
	background-color: #ddd6d2;
}

#contacto {
	background-color: #aa9a96;
}

.cvCenter a, .cvCenter{
	color: black;
	text-align: center;
}

.card-body{
	background-color: #f7f3ef;
}
/*
.rowContacto{
	text-align: center;
}

.redes img{
	display: inline-block;
	margin: 0 10px 10px 20px;
}

.redes b {
	color: black;
}

